body{
    background-image: url(img/background.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
/* font-family: 'Poppins', sans-serif;
font-family: 'Preahvihear', sans-serif; */
}

.pole {
    background: url(back.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
    height: 718px;
    width: 718px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    position: relative;
}



.kletka {
    width: 100%;
    height: 100%;
    padding: 3px;

    box-sizing: border-box;
}

.player1{
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 100px;
    background-image: url(img/fox.png);
    background-size: cover;
    margin-bottom: 20.95;
    position: absolute;
    bottom: 6px;
}

.player2{
    background-image: url(img/panda.png);
    bottom: 25px;

}



@keyframes moveAnimation {
    from {
        margin-bottom: 0; /* начальное значение margin */
    }
    to {
        margin-bottom: 70px; /* конечное значение margin */
    }
}

span {
    background-color: #ffffff;
    border-radius: 20px;
    color: #2a2195;
    display: flex;
    width: 17px;
    height: 17px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    /* background-color: #ffffff;
    border-radius: 20px;
    color: #000;
    font-size: 12px;
    padding: 1px; */
}


.container {
    display: flex;
    justify-content: center;
}


.cubikfield {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.gamerfield{
    width: 200px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#drop{
    background-image: url(img/cube.png);
    background-size: cover;
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease-in-out;
    margin-top: 200px;

}

.rotated {
    transform: rotate(360deg);
}

#drop-value{
    height: 100px;
    width: 90%;
    border: 3px solid#fff;
    text-align: center;
    color: #002ae9;
    font-size: 55px;
    background: linear-gradient(3deg, rgba(194,194,255,1) 0%, rgb(97 255 233) 100%);
    border-style: dotted;
    border-radius: 20px;
}

.pname {
    font-size: 40px;
    color: #a2a2a2;
    margin: 0;
    height: 80px
}


.yourchance{
    font-family: 'Preahvihear', sans-serif;
    margin: 0;
    visibility: hidden;
    font-size: 14px;
}


.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activeplayer {
    color: #009d00;
}

.activechance{
    visibility:visible;
}
/* #FF5722; */